{% extends 'main/layout.html' %}
{% block content %}
    <div class="content">
        <div class="container">
            <h3>Enter Your Email Address and we will send you an email with instructions to Set a new password for your Account</h3>
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ field.name }}
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
            <form method="POST" class="text-center">
                {% csrf_token %}
                <input type="email" name="email" autocomplete="email" id="id_email" required placeholder="Input Your Email..." class="form-control mb-3">
                <input class="mb-3 btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.go(-1);">
                <input type="submit" class="mb-3 btn btn-primary" value="Send Password Reset Email">
    
            </form>
        </div>
    </div>
{% endblock content %}