{% extends 'main/layout.html' %}
{% load mathfilters %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 text-center">All Books</h1>
    <p class="mb-4"></p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date Added</th>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Pages</th>
                            <th>Edition</th>
                            <th>Publisher</th>
                            <th>Publish Year</th>
                            <th>Added By</th>
                            <th>Total Quantity</th>
                            <th>Rented Quantity</th>
                            <th>Available Quantity</th>
                            <th></th>
                            
                            
                            <!-- contitn -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{book.created_date|date:"d/m/Y"}}</td>
                            <td>{{book.isbn}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.category}}</td>
                            <td>{{book.pages_no}}</td>
                            <td>{{book.edition}}</td>
                            <td>{{book.publisher}}</td>
                            <td>{{book.publish_year}}</td>
                            <td>{{book.added_by}}</td>
                            <td>{{book.total_quantity}}</td>
                            <td>{{book.rented_count}}</td>
                            <td>{{ book.total_quantity|sub:book.rented_count}}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'update_book' book.isbn %}" >   Edit  </a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#book{{book.id}}" >Delete</button>
                                <div class="modal fade" id="book{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            Are You sure You want to Remove {{book.title}}?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'delete_book' book.isbn  %}" method="POST">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <input class="btn btn-danger" type="submit" name="Confirm" value="Delete">
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
{% endblock content %}




